<% def to_bool(value)
    return true if value == true || value =~ (/^(true|t|yes|y|1)$/i)
    return false if value == false || value.blank? || value =~ (/^(false|f|no|n|0)$/i)
    false
end%>
<ul>
  <% if @project -%>
      <li><%= context_menu_link l(:button_edit), settings_project_path(@project),
                                :class => 'icon-edit', :disabled => !@can[:edit] %></li>

      <li><%= context_menu_link l(:button_copy), copy_project_path(@project),
                                :class => 'icon-copy', :disabled => !@can[:copy] %></li>

      <% if @project.active? %>
          <li> <%= context_menu_link l(:button_close), close_project_path(@project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-lock', :disabled => !@can[:close] %></li>
      <% else %>
          <li> <%= context_menu_link l(:button_reopen), reopen_project_path(@project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-unlock', :disabled => !@can[:reopen] %></li>
      <% end %>
  <% end %>

  <% if @can[:edit] %>
      <%  if @cfs and @cfs.present?%>
          <% @cfs.each do |cf|

            if cf.custom_field.field_format.in? ["list", "bool"] %>
                  <li class="folder">
                    <a href="#" class="submenu"><%= cf.custom_field.name %></a>
                    <% if cf.custom_field.field_format == 'bool'
                         @values = [true, false]
                         val = to_bool(format_object(cf, false))
                       else
                         @values = cf.custom_field.possible_values
                         val = format_object(cf, false)
                       end %>
                    <ul>
                      <% @values.each do |v| -%>
                          <li><%= context_menu_link v, update_project_cf_path(:id => @project.id, :project => {'custome_fields' => cf.custom_field, :value=> v}, :back_url => @back), :method => :post,
                                                    :selected => (v == val), :disabled => !@can[:update] %></li>
                      <% end -%>
                    </ul>
                  </li>
              <% else %>
                  <% unless format_object(cf).nil? or format_object(cf).blank? %>
                     <li><%=  context_menu_link "<b>#{cf.custom_field.name}</b>: #{format_object(cf)}".html_safe, '#' %></li>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
    <% tracker_issues = @project.issues.reject{|issue| issue.closed? }.group_by(&:tracker)
       tracker_issues.each do |tracker, issues| %>
      <li> <%= context_menu_link "<b>#{tracker.name}</b>: #{issues.count}".html_safe, project_issues_path(@project, :set_filter => 1, :tracker_id => tracker.id)  %></li>
      <% end %>
</ul>
