
<div class="">
  <p style="display: none;">
    <%= check_box_tag("settings[identifier]", true, true) %>
  </p>
  <% Project.column_names.reject{|col| ['id', 'lft', 'rgt','parent_id','identifier'].include? col}.each do |column| %>
      <p>
        <%= l("field_#{column}".to_sym) %>
        <%= check_box_tag("settings[#{column}]", true, @settings["#{column}".to_sym]) %>
      </p>
  <% end %>
  <% CustomField.where(type: "ProjectCustomField").each do |cf| %>
      <p>
        <%= cf.name %>
        <%= check_box_tag("settings[#{cf.name}]", true, @settings[cf.name.to_sym]) %>
      </p>
  <% end  %>

  <p>
    ===========================
  </p>
  <p>
    Sort projects:
    <%= select_tag("settings[sorting_projects_order]", options_for_select([['ASC',false],['DESC',true]], @settings[:sorting_projects_order] )) %>
  </p>
</div>