
<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
  <%= render_project_action_links %>
</div>

<div id="projects-filter" class="hide-when-print" >
  <%= l(:description_filter) %>: <%= render :partial=> 'filter_projects' %>
</div>

<h2><%= l(:label_project_plural) %></h2>


<div id="projects-index">
  <%= render :partial=> 'show_projects' %>
</div>

<div id="script_project">
  <%#= render partial: 'script_project' %>
</div>

<% if User.current.logged? %>
    <p style="text-align:right;">
      <span class="my-project"><%= l(:label_my_projects) %></span>
    </p>
<% end %>
<div>
  <span class="pagination"><%= pagination_links_full @projects_pages, @projects_count %></span>

</div>
<span id="pdf_generate">
<%= render partial: 'show_link_pdf' %>
</span>
<% content_for :sidebar do %>
    <%= form_tag({}, :method => :get) do %>
        <h3><%= l(:label_project_plural) %></h3>
        <label for="closed"><%= check_box_tag 'closed', 1, params[:closed] %> <%= l(:label_show_closed_projects) %></label>
        <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
    <% end %>

<% end %>

<% html_title(l(:label_project_plural)) -%>
<%= context_menu project_context_menu_path %>